body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    

}
#header{
    display: flex;
    padding-bottom: 40px;
    padding-left: 80px;

}
.header-part{
    width: 50%;
    padding-left: 7%;
    padding-top: 10%;
}
.text-c{
    color: coral;
}
.link-c{
    padding: 20px 45px;
    background-image: linear-gradient(red, yellow );
    text-decoration: none;
    border-radius: 30px;
    color: white;
    
}
h1{
    font-size: 40px;
}
.header-part img{
    width: 100%;
}
.text-co{
    color: rgb(131, 122, 122);
    font-size: 25px;
}
.text-color{
    color: rgb(65, 52, 52);
}
.text-col{
    color: rgb(131, 122, 122);
    padding-bottom: 5%;
    font-size: 25px;
}


#about-me{
    display: flex;
    background-color: rgb(236, 236, 233);
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0;
}
.about-me-part{
    width: 100%;
    padding: 8px 0 3px 5px;
}
.about-me-part img{
    width: 50%;
    padding-left: 30%;
}
.contact{
    padding: 20px 40px;
    border-radius: 40px;
    background-image: linear-gradient(to right, orange,rgb(187, 64, 64));
    text-decoration: none;
    color: white;
    
}
.abou-t{
    color: rgb(78, 80, 63);
    
}
.ab-p{
    padding-bottom: 100px;
}
.my-r{
    text-align: center;
    padding-top: 50px;
}
.ric-p{
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
}
#recipi-flex{
    display: flex;
    padding: 10px 80px 10px 80px;
    
}
.recipi-part{
    width: 50%;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin: 20px;
}
.recipi-part img{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}
.recipi-part p{
    padding: 10px;
    
}

#second{
    text-align: center;
    padding: 50px;
}
.number{
  display: flex;
  background-color: #eee;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.number-items{
    margin: 40px; 
    padding: 10px 40px ;
}
.number-items h1{
    text-align: center;
    font-weight: bold;
}


#footer{
    text-align: center;
    background-color: rgb(20, 1, 1);
    color: rgb(129, 106, 106);
    height: 250px;
}
.f-text{
    text-align: center;
    
}
.f-text h1{
    padding-top: 30px;
}
.f-color{
    color: red;
}
.f-text h4{
    color: snow;
}